fastapi==0.135.1
langchain==1.2.10
langchain-core==1.2.23
langchain-mcp-adapters==0.2.1
langchain-openai==1.1.12
langgraph==1.0.10
langgraph-checkpoint==4.0.1
langgraph-checkpoint-postgres==3.0.5
langsmith==0.7.14
psycopg==3.3.3
psycopg-binary==3.3.3
psycopg-pool==3.3.0
pydantic==2.12.5
tqdm==4.67.3
uvicorn==0.41.0
